nav {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}
nav a {
  text-decoration: none;
  color: gray;
  padding: 5px 15px;
  border-radius: 10px;
}

nav a:focus,
nav a:active {
  background-color: #7611a6;
  color: white;
}

@media (min-width: 481px) and (max-width: 1024px) {
  nav {
    margin-top: 50px;
  }
}
